@font-face {
    
    font-family: "Poly-Regular";
    src: url("Fonts/Poly-Regular.ttf")
}

body{
    background: #EBE7C4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ecd09f, #e5ceab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ecd09f, #e5ceab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: #EBE7C4;
    border-radius: 5px;
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 30%;
    display:flex;
    justify-content: left;
    align-content: center;
    margin-top:1em;
}

.form__input {
    display:flex;
    justify-content: center;
    align-content: center;
    width:35%;
    border-radius: 10px;
    height:30px;
    padding: 2px 2px;
    border-color: #ee8e57;
    border: 3px solid;
    text-align: center;
}

.form__element{
    display:flex;
    justify-content: left;
    align-content: center;
    margin-bottom:1em;
}
  
.submitDiv{
    margin-top:2em;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: #ee8e57;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 10px;
    height: 40px;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
    width:35%;
    margin-left:30%;
}
  
.submitButton{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: #ee8e57;
    color: #fff;
    transition: all 0.3s ease;
    height: 40px;
    border:none;
    width:100%;
    line-height: 1em;
}

/*Сбрасываем базовые настройки сайта*/
*{
    margin: 0;
    /* padding: 0; */
}
/*Стилизуем хедер*/
header{
    display:flex;
    justify-content: center;
    height: 60px;
    background: #EE8E57;
}

/*Стилизуем список элементов*/
.menu li{
    display:inline-block;
    vertical-align: middle;
}

/*Стилизуем ссылки*/
.menu a{
    font-size: 20px;
  font-family:Arial, Helvetica, sans-serif ;
  padding: 0 30px;
  border: none;
  background: #EE8E57;
  color: #fff;
  border-radius: 10px;
  vertical-align: middle;
  text-decoration: none;
}

/*Стилизуем логотип*/
.logo {
  font-size: 30px;
  width: 250px;
  font-family:"Poly-Regular";
  padding: 0 30px;
  border: none;
  background: #EE8E57;
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  position: absolute;
  left:0px;
  top:0px;
  height:60px;
  transition: all .3s ease;
  text-decoration: none;
  align-items: center;
  line-height: 2em;
}

/*Стилизуем поисковую строку*/
.searchTxt{
    position:absolute;
    inset-inline-start:15%;
    block-size:30px;
    top:0px;
    width: 500px;
    height:60px;
    background:1. 000000;
    border-radius: 10px;
    padding: 10px;
    left:20%;
}
  
/*Стилизуем кнопку поиска после ввода запроса*/
.searchButton{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    background: #fff;
    color: #EE8E57;
    display:block;
    position: absolute;
    left:56.5%;
    top:0px;
    height: 60px;
    border-radius: 10px;
    border-color: rgb(133, 78, 1);
    line-height: 3em;
}

/*Стилизуем кнопку пользователя*/
.user{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: #EE8E57;
    color: #fff;
    display:block;
    position: absolute;
    right:0%;
    top:0px;
    transition: all .3s ease;
    border-radius: 10px;
    height: 60px;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
}

/*Стилизуем кнопку уведомлений*/
.notification{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    background: #EE8E57;
    color: #fff;
    display:block;
    position: absolute;
    right:7%;
    top:0px;
    transition: all .3s ease;
    border-radius: 10px;
    height: 60px;
    vertical-align: middle;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
}

.login{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    background: #EE8E57;
    color: #fff;
    display:block;
    position: absolute;
    right:11%;
    top:0px;
    transition: all .3s ease;
    border-radius: 10px;
    height: 60px;
    vertical-align: middle;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
}

.login:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
}

/*Стилизуем кнопку пользователя при наведении на неё*/
.user:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
}

/*Стилизуем кнопку уведомлений при наведении на неё*/
.notification:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
}

/*Стилизуем кнопку логотипа при наведении на неё*/
.logo:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
}
.main-panel{
    background: -webkit-linear-gradient(to right, #ecd09f, #e5ceab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ecd09f, #e5ceab);
}

/*Стилизуем кнопку начала поиска при наведении на неё*/
.searchButton:hover{
    background: #EE8E57;
    color: #fff;
    transition: all .3s ease;
}

input[type="Submit"]{
    opacity:0;
    transition: 1s;
}

input:not(:placeholder-shown) + input[type="Submit"]{
    opacity: 1;
}

.userImage{
    height: 180px;
    width: 200px;
    display: flex;
    border-radius: 50px;
}

.forma{
    
    padding:60px 60px;
    margin: 60px auto;
    width: 1000px;
    justify-content: center;
    height: 500px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
  
}

.listWrapper{
    text-align: center;
    align-items: left;
} 

.nav-item{
    list-style: none;
    text-decoration: none;
    padding-bottom: 3em;
}


.logOut{
    margin-top: 3em;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: #EE8E57;
    color: #fff;
    display:flex;
    position: absolute;
    transition: all .3s ease;
    border-radius: 10px;
    height: 40px;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
    width: 160px;
    padding-left: 40px;
    margin-left: -12.5px;
}

.settings{
    margin-top: 1em;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: #EE8E57;
    color: #fff;
    display:flex;
    position: absolute;
    transition: all .3s ease;
    border-radius: 10px;
    height: 40px;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
    width: 160px;
    padding-left: 35px;
    margin-left: -12.5px;
}

.editProfile{
    margin-top: 1em;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: #EE8E57;
    color: #fff;
    display:flex;
    position: absolute;
    transition: all .3s ease;
    border-radius: 10px;
    height: 40px;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
    width: 160px;
    padding-left: 30px;
    margin-left: -12.5px;
}

.logOut:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
    border: solid 2px;
    border-color: #EE8E57;
    width: 160px;
    padding-left: 40px;
}
.settings:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
    border: solid 2px;
    border-color: #EE8E57;
    width: 160px;
    padding-left: 35px;
}
.editProfile:hover{
    background: #fff;
    color: #EE8E57;
    transition: all .3s ease;
    border: solid 2px;
    border-color: #EE8E57;
    width: 160px;
    padding-left: 30px;
}


.deleteButton{
    margin-top: -0.2em;
    margin-left:30em;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
    align-items: center;
    background: rgba(245, 13, 13, 0.781);
    color: #fff;
    display:flex;
    position: absolute;
    transition: all .3s ease;
    border-radius: 10px;
    height: 40px;
    border-color: rgb(80, 47, 1);
    line-height: 3em;
}

.deleteButton:hover{
    background: #fff;
    color: rgba(245, 13, 13, 0.781);
    transition: all .3s ease;
    border: solid 2px;
    border-color: rgba(245, 13, 13, 0.781);
}



@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #b4702d; /* Black */
    border-radius: 80%;
    animation: spinner 1.5s linear infinite;
    margin-left: 50%;
  }

  .filterTitle {
    font-size: 20px;
    font-family:"Poly-Regular";
    /* padding: 0 30px; */
    /* border: none; */
    /* background: #EE8E57; */
    color: #fff;
    /* vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: absolute;
    left:0px;
    top:0px;
    height:60px;
    transition: all .3s ease;
    text-decoration: none;
    align-items: center;
    line-height: 2em; */
  }
  .filterItem {
    font-size: 12px;
    font-family:"Poly-Regular";
    padding: 0 3px;
    /* border: none; */
    /* background: #EE8E57; */
    color: #fff;
    /* vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: absolute;
    left:0px;
    top:0px;
    height:60px;
    transition: all .3s ease;
    text-decoration: none;
    align-items: center;
    line-height: 2em; */
  }

.personData{
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    text-align: center;
    width:500px;
    position:absolute;
    height:210px;
    display: inline;
    margin-left: 25em;
    top:185px;
}

.detailsWeatherPanel {
    display: flex;
    background-color: #EE8E57;
}

.detailsWeatherPanel .weatherCard {
    width: 10%;
    margin: 10px;
    border-radius: 30px;
    flex-grow: 1;
    background-color: white;
    text-align: center;
}

.detailsWeatherPanel .weatherIcon svg {
    width: 40px;
    height: 40px;
}

.wordBox{
    margin-top: 20px;
    font-family: "Poly-Regular";
    font-size: 18px;
    text-align: center;
    border: 5px solid hsl(0, 0%, 90%);
    background-color:#EBE7C4;
    width:600px;
    border-radius: 10px;
    height:200px;
    color: #ee8e57;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
  
  .bodyConfirmEmail{
    background-color: #ee8e57;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .invalid-feedback {
    margin-left: 10px;
  }

  .formError {
    width: 35%;
    margin-left: 30%;
    margin-top: 20px;
    text-align: center;
}