body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  /* padding-top: 5rem;
  margin: 0 auto; */
  display: flex;
  /* width: 600px; */
}

.left-panel {
  flex: 0 250px;
  background-color: #EE8E57;
}

.main-panel {
  flex: 1;
  background-color: #EBE7C4;
  margin-right: 0;
}